
  <table>
    <thead>
      <tr>
        <th>꽃 이름</th>
        <th>수량</th>
        <th>가격</th>
        <th>사진</th>
      </tr>
    </thead>
    <tbody>
      <% bouquetItems.items.forEach(item => { %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.flowerAmount %></td>
          <td><%= item.price %></td>
          <td><img src="<%= item.photo %>" alt="<%= item.name %>"></td>
        </tr>
      <% }); %>
    </tbody>
  </table>

    <!-- 총 가격 -->
    <p>꽃다발 총 가격: <%= bouquetItems.totalPrice %></p>
  
  <!-- 주문하기 버튼 -->
  <button type="button" onclick="goToOrderSheet()">주문하기</button>

  <script>
    function goToOrderSheet() {
      window.location.href = '/orders';
    }
  </script>
  