<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Details</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
  </style>
</head>
<body>
  <h1>주문서</h1>
  <table>
    <tr>
      <th>꽃 이름</th>
      <th>꽃 가격</th>
      <th>꽃 수량</th>
      <th>합계</th>
      <th>주문자 이름</th>
      <th>주문자 연락처</th>
      <th>메모</th>
    </tr>
    <% orders.forEach(function(order) { %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.price %></td>
        <td><%= order.flowerAmount %></td>
        <td><%= order.bouquetPrice %></td>
        <td><%= order.receiverName %></td>
        <td><%= order.receiverPhoneNumber %></td>
        <td><testarea><%= order.memo %></testarea></td>
      </tr>
    <% }); %>
  </table>
</body>
</html>